.project-pg-main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	width: 78vw;
	max-width: 150rem;
	margin: 20rem auto;
}

.project-pg-info {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	margin-bottom: 3rem;
}
.project-pg-paragraph {
	color: grey;
}
.project-pg-poster {
	height: 60vh;
}

.project-pg-text {
	width: 100%;
	margin-left: 8rem;
}
.project-pg-title {
	font-size: 5rem;
}
.project-pg-paragraph {
	font-size: 2rem;
	line-height: 1.45;
	margin-bottom: 3rem;
}

.project-pg-box-container {
	width: fit-content;
}

.box-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	border-bottom: 2px solid #971dd5;
	padding-bottom: 0.5rem;
	width: fit-content;
}
.project-pg-box {
	border: 3px solid lightgray;
	padding: 2rem;

	list-style: none;
}

.box-item {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	margin-bottom: 1rem;
	gap: 5rem;
	padding: 0.5rem;
	border-bottom: 2px solid lightgrey;
}
.box-subtitle {
	font-size: 2.5rem;
	width: 14rem;
	text-transform: uppercase;
	color: grey;
}
.box-text {
	font-size: 2rem;

	color: grey;
}
.project-pg-imgs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 7rem;
	overflow: hidden;
}
.project-pg-imgs {
	width: 68vw;
	height: 38.25vw;
	max-width: 120rem;
	max-height: 67.5rem;
	background-color: black;
	margin-bottom: 2rem;
}
.project-pg-img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	background-color: black;
}
.project-pg-img-thumbnails {
	display: flex;
	gap: 1rem;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.project-pg-img-thumbnail {
	height: 16rem;
	width: 16rem;
	object-fit: cover;
	border: 4px solid grey;
}
.project-pg-img-thumbnail:hover,
.project-pg-img-thumbnail:active {
	cursor: pointer;
}
.active-thumbnail {
	border: 7px solid var(--color-primary-med);
}

.project-pg-related {
	display: flex;
	width: 100%;
	gap: 5rem;
	/* height: 40rem; */
	justify-content: space-between;
}

.project-pg-related-img {
	height: 30rem;
	width: 19.41rem;
	object-fit: cover;
}
.project-pg-related-title {
	padding-top: 1rem;
	font-size: 1.8rem;
	color: var(--color-primary);
	color: grey;
}

.prject-pg-related-link {
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}
