* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Roboto Slab', serif;
	line-height: 1;
	font-weight: 400;
	color: #2c2c2c;

	/* position: relative; */
}

:root {
	--wht: #fff;
	--color-primary: #230059;
	--color-primary-dark: #230059;
	/* --color-primary-dark: #130030; */
	--color-primary-med: #971dd5;
	--color-primary-light: #8025fe;

	--color-alt-dark: #4715ab;
	--color-alt-med: #ffffff;
	--color-alt-ligh: #82fcff;
	--color-alt-very-light: #e6feff;
	/* major third 1.250 */

	--font-s-1: 3.053rem;
	--font-s-2: 3.85rem;
	--font-s-3: 4.76rem;
	--font-s-4: 5.96rem;
	--font-s-5: 7.451rem;
	--font-s-6: 9.313rem;
	--font-s-7: 11.642rem;
	--font-s-8: 14.552rem;

	--duration: 450ms;
	--tileWidth: 25rem;
	--tileHeight: (var(--tileWidth) / (5/7));
	--iconSize: 5rem;
	--growFactor: 1.5;
}

/* -------- REUSABLE----------- */
.anchor {
	position: absolute;
	top: -10rem;
	visibility: hidden;
}

.btn {
	font-family: 'Roboto Slab';
	text-transform: uppercase;
	font-size: var(--font-s-3);
	font-weight: 600;
	letter-spacing: 1px;
	padding: 2.5rem 5rem;
	display: inline-block;
	text-align: center;
	width: fit-content;

	border: none;

	/* text-transform: uppercase; */
}

.link {
	text-decoration: none;
	color: inherit;
}

.max-width {
	width: 100vw;
}

.subheading {
	font-family: 'Roboto Slab', serif;
	font-size: var(--font-s-4);
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 5rem;
}

.heading {
	font-family: 'Raleway', sans-serif;
	font-size: var(--font-s-8);
	/* text-transform: uppercase; */
	letter-spacing: 0.25rem;
	margin-bottom: 8rem;
}

.heading-small {
	font-family: 'Raleway', sans-serif;
	font-size: var(--font-s-6);
	/* text-transform: uppercase; */
	letter-spacing: 0.25rem;
	margin-bottom: 2rem;
}

.center {
	width: 90vw;
	margin: 0 auto;
}

.paragraph {
	font-family: 'Roboto Slab', serif;

	font-size: var(--font-s-4);
	font-weight: 300;
	line-height: 1.6;
	text-align: left;
	margin-bottom: 2rem;
}
/* 
.rounded {
	border-radius: 0.75rem;
} */

.btn-color-light {
	color: var(--color-primary-light);
	background-color: var(--color-alt-ligh);
}

.btn:hover,
.btn:active {
	transform: translateY(-6%);
	cursor: pointer;
}

.shadow {
	box-shadow: 0 0rem 1rem 0.45rem rgba(0, 0, 0, 0.144);
}

.form-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #00000098;
	display: flex;
	justify-content: center;
	align-items: center;

	top: 0;
	left: 0;
	z-index: 999;
}

.form-content {
	margin: 3rem;
	position: relative;
	display: flex;
	gap: 3rem;
	align-items: center;
	font-size: var(--font-s-4);
	width: fit-content;
	padding: 3rem;
	color: var(--wht);
	background-color: var(--color-primary-light);
}

.form-img {
	width: 20rem;
	object-fit: contain;
}
.form-img-bee {
	width: 10rem;
	object-fit: contain;
	margin: 0 auto;
}

.form-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 0;
}

.form-box {
	/* height: 3rem; */

	padding: 0.3rem;
	font-size: var(--font-s-4);
	border-radius: 0;
	border: none;
	/* border-bottom: 0.25rem solid var(--color-primary);
	background-color: var(--color-primary-light); */
}

/* -------NAVIGATION--------- */

.navbar {
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 8rem 15rem;
	list-style: none;
	background-color: var(--color-primary-dark);
	color: var(--wht);
	position: fixed;
	box-shadow: 0 0.5rem 1rem 0.75rem rgba(0, 0, 0, 0.275);
	z-index: 1000;
	height: 7.5rem;
}

.logo-img {
	height: 12rem;
	object-fit: contain;
}

.link-highlight {
	position: relative;
}
.link-highlight::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;

	transform: scale(1.35, 1.35) skewX(-18deg);

	background-color: var(--color-primary-med);
}

.nav-links {
	display: flex;
	gap: 10rem;
	list-style: none;
	font-size: var(--font-s-5);
	font-weight: 500;
}

.nav-link {
	padding-right: 4rem;
	/* display: flex; */
}
.nav-link:last-child {
	padding: 0;
}

.section {
	width: 100vw;
	margin-bottom: 18rem;
	position: relative;
	overflow: hidden;
}

/* ---------- HERO SECTION -------------- */
.hero-section {
	/* position: relative; */
}

.hero-content {
	background-image: linear-gradient(
			to bottom,
			#04062e00,
			#04062e1e,
			#04062e86,
			#04062e
		),
		url('../img/hero-bg.jpg');

	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-logo {
	height: 60vh;
	/* transform: translateY(-15%); */
	/* justify-self: center; */
}

.hero-post-heading {
	text-align: right;
}

.breadcrumb-more {
	color: var(--wht);
	position: absolute;
	bottom: 0rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	font-size: var(--font-s-3);
	opacity: 100%;
	gap: 1rem;
	transition: all 1050ms;
	text-decoration: none;
}

.breadcrumb-more.hide-crumb {
	transform: translateX(300%);
}
.breadcrumb-title {
	margin: 0;
	padding: 0;
}

.breadcrumb-img {
	width: 12rem;
	object-fit: contain;
	transform: translateY(-30%);
}
.breadcrumb-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.breadcrumb-icon {
	text-align: center;
	font-size: var(--font-s-8);
}

.breadcrumb-more:hover,
.breadcrumb-more:active {
	transform: translateX(-50%) scale(1.055);
	cursor: pointer;
}

/* .hero-logo {
	align-content: center;
	width: 18rem;
	height: fit-content;
} */

/* --------PROJECTS --------- */
/* Values */

.projects-section {
	text-align: center;
	justify-content: center;
	width: 168vh;
	margin-bottom: 8rem;

	overflow-x: hidden;
	position: relative;
}

.slider-btns {
	width: 100%;
	height: 0;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	z-index: 1;
}

.slider-btn {
	transform: translateY(-50%);
	font-size: 10rem;
	color: #c5c5c5;

	border-radius: 100%;
	transition: all 250ms;
}

.slider-btn:hover,
.slider-btn:active {
	background-color: #04062e56;
	color: white;
}

.projects-heading {
	color: var(--color-primary-dark);
	max-width: 100vw;
}
.projects-content {
	display: flex;
	padding-bottom: 5rem;
	margin: 0 auto;
	gap: 7vh;

	justify-content: flex-start;
	padding-left: 3.5vh;
	list-style: none;
	position: relative;

	transition: all ease-in-out 800ms;
	transform: translateX(0);
}

.poster-img {
	/* scroll-snap-align: center; */
	width: 49vh;
	height: 75vh;
	object-fit: cover;
	/* border-radius: 0.45rem; */
	/* box-shadow: 0 0rem 0.5rem 0.45rem rgba(0, 0, 0, 0.075); */
	transition: all 250ms;
}

.poster-img:active,
.poster-img:hover {
	transform: scale(1.05);
	/* box-shadow: 0 0rem 0.4rem 0.35rem rgba(0, 0, 0, 0.062); */
	cursor: pointer;
}

.projects-poster {
	display: flex;
}

.poster-content {
	display: none;

	flex-direction: column;
	padding: 10rem;
	color: var(--wht);
	overflow-y: scroll;
	position: relative;
}

.poster-wide {
	display: flex;
	width: 48.5vh;
	height: 75vh;

	/* overflow: hidden; */

	background-color: var(--color-primary);
	transition: width 700ms;
}

/* If projects is parent class show the expanded */
.projects-clicked .poster-wide {
	width: 164.5vh;

	z-index: 9001;
}

.projects-clicked .poster-content {
	display: flex;
}

.poster-close {
	color: var(--wht);
	font-size: var(--font-s-6);
	position: absolute;
	right: 1.75rem;
	top: 0.45rem;
	z-index: 10;
}
.poster-close:hover,
.poster-close:active {
	transform: scale(1.1);

	cursor: pointer;
}

.poster-heading {
	margin-bottom: 7rem;
}

.project-imgs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.project-img {
	max-width: 100%;
	/* height: 15vw; */
	object-fit: cover;
}

/* ------About us ------------- */
.about-section {
	padding-top: 3rem;
	background-color: var(--color-primary-dark);
	padding-bottom: 5rem;
}
.about-heading {
	text-align: center;
	color: var(--wht);
}

.about-subheading-pos {
	position: absolute;
	text-align: center;
	height: fit-content;
	top: 4vw;
	transform: translate(-5%, 0%);
	width: 55%;
	color: var(--wht);
	font-size: var(--font-s-5);
	text-transform: uppercase;
	font-weight: 300;
}
.about-subheading {
	color: var(--wht);
	font-size: var(--font-s-5);
	text-transform: uppercase;
	font-weight: 300;
}

.sub-background {
	position: relative;
}
.sub-background::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	box-shadow: 0 0.35rem 0.65rem 0.35rem rgba(0, 0, 0, 0.055);

	transform: scale(1.1, 1.35) skewX(-18deg);

	background-color: var(--color-primary-med);
}

.about-content {
	display: grid;
	width: 75vw;
	height: 90vh;
	margin: 0 auto;
	position: relative;

	align-content: end;

	background-image: linear-gradient(
			to bottom,
			#04062e00,
			#04062e00,
			#04062e1e,
			#13083b60,
			#280957da,
			#230059
		),
		url('../img/reef-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}
/* .about-expansion-content.closed {
	height: 0rem;
} */

.about-expansion-content {
	width: 75vw;
	margin: 0 auto;
	margin-top: 5rem;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(3, 12fr);
	transition: all 2s;
	padding: 6rem;
}

.about-text-container {
	padding: 0 2rem;
}
.about-why {
	margin-bottom: 5rem;
	grid-column: 2/4;
}
.about-mission {
	margin-bottom: 5rem;
	grid-column: 1/3;
}

.about-ex-img {
	width: 29vw;
	height: 29vw;
	background-image: radial-gradient(
		#ffffff2f,
		#ffffff1f,
		#ffffff0e,
		#ffffff05,
		#ffffff00,
		#ffffff00,
		#ffffff00
	);
	object-fit: contain;
	align-self: center;
}

.about-text {
	align-self: flex-end;
	color: var(--wht);
	font-size: var(--font-s-4);
	line-height: 1.5;
}

.about-text-heading {
	color: var(--wht);
}

.about-link {
	text-decoration: underline;
}
.about-link:hover,
.about-link:active {
	cursor: pointer;
}

.about-close-btn {
	position: relative;

	color: var(--color-primary-dark);

	z-index: 100;

	padding: 2rem 4rem;
	width: fit-content;
}
.about-close-btn::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;

	transform: scale(1.1, 1.35) skewX(-18deg);

	background-color: var(--color-alt-ligh);
}

/* -------create--------- */
/* .create-section {
	padding-bottom: 41vw;
	background-image: url('../img/Flowers_Transparent.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 41vw;
	width: 100vw;
	border-bottom: 0.35rem solid var(--color-primary-dark);
} */
.create-heading {
	text-align: center;
	color: var(--color-primary-dark);
}

/* .create-content {
	display: flex;
	gap: 15rem;
	align-items: center;
} */
.create-image-text {
	display: flex;
	gap: 5rem;
	margin-bottom: 5rem;
}

.create-subheading {
	margin-bottom: 5rem;
}

.create-text {
	color: var(--color-primary-dark);
	position: relative;
}

.create-paragraph {
	margin-bottom: 3rem;
	max-width: 35vw;
}

.photo-container {
	position: relative;
	overflow: hidden;
}
.create-photo {
	flex-shrink: 0;
	object-fit: contain;

	width: 55vw;
	height: 30.903732809430252vw;
	/* background-image: url('../img/balloon-thumbnail.png');
	background-size: contain;
	background-repeat: no-repeat; */
	/* border-radius: 1rem; */
	transition: all 1800ms;
}

.photo-2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.photo-2:hover,
.photo-2:active {
	opacity: 100%;
}

.photo-2.lock {
	opacity: 100%;
}
.create-close {
	color: var(--wht);
	font-size: var(--font-s-6);
	position: absolute;
	right: -2rem;
	top: -1rem;
	z-index: 10;
}
.form-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 30rem;
}

/* ------supporter Contact ------------- */
.supporter-section {
	margin-bottom: 0rem;
}
.supporter-heading {
	text-align: center;
	color: var(--color-primary-dark);
	margin-bottom: 0;
}

.supporter-subheading {
	text-align: center;
}

.supporter-content {
	display: flex;
	gap: 5rem;
	color: var(--color-primary-dark);
	align-items: flex-start;
	max-width: 90%;
	position: relative;
	margin: 0 auto;
}
.supporter-photo {
	flex-shrink: 0;
	object-fit: contain;
	width: 45vw;
	height: 50vw;
	align-self: flex-start;

	/* border-radius: 1rem; */
}

.supporter-form {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #0000008e;
	display: flex;
	justify-content: center;
	align-items: center;

	top: 0;
	left: 0;
}

/* .modal {
	width: 100vw;
	height: 100vh;
	background-color: #04062ec1;
	position: fixed;
} */

.supporter-close {
	color: var(--wht);
	font-size: var(--font-s-6);
	position: absolute;
	right: 0rem;
	top: 0rem;
	z-index: 10;
}

.supporter-text {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: space-between;
	margin-top: 7.5rem;
}

.supporter-btns {
	display: flex;
	gap: 4rem;
}

/* --------- FOOTER ------------------- */
.section-footer {
	background-color: var(--color-primary);
	color: var(--wht);
	margin-bottom: 0;
	padding: 2rem 5rem;
	display: flex;
	gap: 10rem;
	justify-content: center;
}
.footer-img {
	width: 100vw;
	/* height: 41vw; */
	object-fit: contain;
	margin-bottom: 0;
	transform: translateY(0.3rem);
}

.footer-title {
	font-size: var(--font-s-4);
	margin-bottom: 2rem;
}
.footer-link {
	font-size: var(--font-s-3);
	font-weight: 300;
	text-transform: none;
	padding: 0rem;
}

.footer-column {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.footer-row {
	list-style: none;
	display: flex;
	justify-content: left;

	gap: 4rem;
	/* margin-bottom: 2rem; */
}

.copyright {
	margin-bottom: 0;
}

.footer-social {
	font-size: var(--font-s-5);
}

/* --MEDIA QUERIES */

/* 1920px */
@media (max-width: 120em) {
	:root {
		--font-s-1: 1.563rem;
		--font-s-2: 1.953rem;
		--font-s-3: 2.441rem;
		--font-s-4: 3.053rem;
		--font-s-5: 3.85rem;
		--font-s-6: 4.76rem;
		--font-s-7: 5.96rem;
		--font-s-8: 7.451rem;
	}
	.logo-img {
		height: 10rem;
	}
	.nav-links {
		gap: 2rem;
	}

	.navbar {
		padding: 3rem 7rem;

		height: 12rem;
	}
	.section-footer {
		margin-bottom: 0;
	}
}
/* 1350px */
@media (max-width: 84.375em) {
	:root {
		--font-s-1: 1rem;
		--font-s-2: 1.25rem;
		--font-s-3: 1.563rem;
		--font-s-4: 1.953rem;
		--font-s-5: 2.441rem;
		--font-s-6: 3.053rem;
		--font-s-7: 3.85rem;
		--font-s-8: 4.76rem;
	}
	.section {
		margin-bottom: 8rem;
	}
	.heading {
		margin-bottom: 4rem;
	}
	.subheading {
		margin-bottom: 1.5rem;
	}
	.btn {
		padding: 1rem 2rem;

		/* text-transform: uppercase; */
	}

	.navbar {
		padding: 2rem 5rem;

		height: 7.5rem;
	}

	.logo-img {
		height: 6rem;
	}
	.nav-links {
		gap: 0rem;
	}
	.breadcrumb-img {
		width: 7rem;
		object-fit: contain;
		transform: translateY(-30%);
	}

	.projects-section {
		margin-bottom: 3rem;
	}
	.poster-content {
		padding: 2rem;
	}
	.poster-heading {
		margin-bottom: 3rem;
	}

	.about-close-btn {
		padding: 1rem 2rem;
	}
	.about-expansion-content {
		padding: 0;
	}
	.supporter-btns {
		gap: 2rem;
	}
	.section-footer {
		margin-bottom: 0;
	}
}

/* for taller than 16/9 */
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 15/9) {
	.projects-section {
		text-align: center;
		justify-content: center;
		width: 100vh;

		margin-bottom: 8rem;

		overflow-x: hidden;
		position: relative;
	}
	.projects-content {
		margin: 0;
		gap: 4vh;
		max-width: 90vw;

		padding: 0;
	}
	.projects-clicked .poster-wide {
		width: 100vw;
	}
	.section-footer {
		margin-bottom: 0;
	}
}

/* Virtical tablets 1088px*/
@media (max-width: 68em) {
	.hero-logo {
		height: 53vh;
	}
	:root {
		--font-s-1: 1.563rem;
		--font-s-2: 1.953rem;
		--font-s-3: 2.441rem;
		--font-s-4: 3.053rem;
		--font-s-5: 3.85rem;
		--font-s-6: 4.76rem;
		--font-s-7: 5.96rem;
		--font-s-8: 7.451rem;
	}

	/* HAMBURGER IT */
	/* .navbar {
		padding: 2rem 5rem;

		height: 7.5rem;
	} */

	/* .logo-img {
		height: 6rem;
	} */
	/* .nav-links {
		gap: 0rem;
	} */
	.breadcrumb-img {
		width: 7rem;
	}
	.breadcrumb-more {
		font-size: var(--font-s-3);
		bottom: 4rem;
	}

	.about-subheading-pos {
		width: 90%;
		transform: translate(-3%, 0%);
	}
	.about-subheading {
		font-size: var(--font-s-5);
		width: 80%;
		transform: translate(3%, 0%);
		font-weight: 300;
		bottom: 0;
	}
	.about-content {
		width: 85vw;
		height: 80vh;
	}

	.about-close-btn {
		padding: 1rem 2rem;
	}
	.about-expansion-content {
		width: 85vw;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 2rem;
	}
	.about-ex-img {
		width: 70vw;
		height: 70vw;
	}
	.about-paragraph-two {
		order: 1;
	}

	.about-close-btn {
		order: 2;
	}
	.create-image-text {
		display: flex;
		flex-direction: column;
	}
	@keyframes fadeinout {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 0;
		}

		50% {
			opacity: 100%;
		}

		80% {
			opacity: 100%;
		}

		100% {
			opacity: 0;
		}
	}

	.photo-2 {
		animation: fadeinout 12s infinite;
	}

	.create-photo {
		order: -1;
		width: 90vw;
		height: 50.56363636363636vw;
	}
	.create-paragraph {
		max-width: 90vw;
	}
	.supporter-content {
		flex-direction: column;
		gap: 0;
	}
	.supporter-photo {
		width: 90vw;
		height: 100vw;

		/* border-radius: 1rem; */
	}
	.supporter-text {
		margin: 0;
	}

	.supporter-heading {
		margin-bottom: 0;
		margin-top: 4rem;
	}
	.section-footer {
		margin-bottom: 0;
		flex-direction: column;
		padding: 8rem 8rem;
		gap: 5rem;
	}
	.footer-title {
		font-size: var(--font-s-6);
	}
	.footer-link {
		font-size: var(--font-s-5);
		padding: 0;
	}
	.footer-column {
		gap: 2rem;
	}
	.footer-social {
		font-size: var(--font-s-7);
	}
	.footer-logo {
		height: 12rem;
	}
}
/* 850px small tablets */
@media (max-width: 56.25em) {
	.about-subheading {
		font-size: var(--font-s-3);
	}
}

/* 450px phones */
@media (max-width: 28.125em) {
	:root {
		--font-s-1: 1rem;
		--font-s-2: 1.25rem;
		--font-s-3: 1.563rem;
		--font-s-4: 1.953rem;
		--font-s-5: 2.441rem;
		--font-s-6: 3.053rem;
		--font-s-7: 3.85rem;
		--font-s-8: 4.76rem;
	}
	.hero-logo {
		width: 88vw;
		height: fit-content;
	}

	.about-content {
		width: 100vw;
	}
	.about-subheading-pos {
		top: 10vw;
		width: 90%;
		transform: translate(5%, 0%);
	}
	.about-subheading {
		font-size: var(--font-s-2);
		width: 100%;
		transform: translate(-28%, 0%);
		line-height: 1.25;

		padding-left: 10rem;
	}
	.about-text {
		font-size: var(--font-s-3);
		line-height: 1.5;
	}
	.footer-logo {
		height: 6rem;
	}
	.section-footer {
		margin-bottom: 0;
		flex-direction: column;
		padding: 6rem 3rem;
		gap: 5rem;
	}
}

/* -----Reusable END */
.closed {
	display: none;
}
